<h1>Sign In</h1>
<form class="form-horizontal" role="form" onsubmit="return signinCheck()">
    <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" required 
                id="fieldName" name="username">
        </div>
    </div>
    <div class="form-group">
        <label for="fieldPassword" class="col-sm-2 control-label">PassWord</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" required 
                id="fieldPassword" name="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-default" id="signin">登录</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="/javascripts/verify.js"></script>

